{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar bg-light">
            <div class="container-xxl">
                <a class="navbar-brand">A propos de We Movies</a>
                <form class="d-flex" role="search">
                        <input type="search" name="search" class="form-control" placeholder="Search"
                               data-img-uri="{{ config.images.secure_base_url ~ 'w45' }}"
                               aria-label="Search" aria-describedby="search-span">
                </form>
            </div>
        </nav>
    </header>

    {% if firstPopularMovie is not null %}
    <div class="container-xxl bd-gutter mt-3">
        <section class="border border-dark" style="position:relative;">
            {% set firstPopularMovieDetail = get_movie_detail(firstPopularMovie['id']) %}
            {% if firstPopularMovieDetail.videos.results|length > 0 %}
                {% set video = firstPopularMovieDetail.videos.results|first %}
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/{{ video.key }}?rel=0"
                            title="{{ firstPopularMovieDetail.title }}"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
            <div class="summary text-light" style="position: absolute;bottom: 0;left: 0;">
                <div class="image float-left">
                    <img src="{{ config.images.secure_base_url ~ 'w185' ~ firstPopularMovieDetail.poster_path }}"
                         class="img-fluid" alt="{{ firstPopularMovieDetail.title }}"/>
                </div>
                <div class="desc">
                    <h3 class="title">{{ firstPopularMovieDetail.title }}</h3>
                    <p class="description">{{ firstPopularMovieDetail.overview }}</p>
                </div>
            </div>
        </section>
    </div>
    {% endif %}

    <div class="container-xxl bd-gutter mt-3">
        <div class="row">
            <div id="genders" class="col-3">
                <div class="form-check border border-dark">
                    {% for genre in genres %}
                        <div class="custom-control form-control-lg">
                            <label class="form-check-label" for="genre-{{ genre.id }}">
                                <input class="form-check-input" type="radio" value="{{ genre.id }}" name="genre">
                                {{ genre.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div id="movies">
                    {% include 'partials/_movie_list.html.twig' with { movies, config } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
